img{
    width: 200px;
}
.wrapper{
    display:flex;
    background-color: gray;
    /* flex-direction: column; */
    flex-direction:row;
    justify-content: space-evenly;
    /* align-items:center; */
    /* height: 100vh; */
}
.wrapper, #amazon{
    flex-shrink: 5;
}

.wrapper, #adidas{
    flex-shrink: 1;
}

.wrapper, #apple{
    flex-shrink: 2;
}
.wrapper, #beats{
    flex-shrink: 1;
}